.btn {
    padding: 15px 30px;
    display: inline-block;

    border-radius: 6px;
    background: #358968;

    font-size: 28px;
    text-align: center;
    font-family: $font-default;
    text-decoration: none;

    line-height: 1;

    color: #fff;
    cursor: pointer;

    overflow: hidden;
    vertical-align: middle;

    border: none;
    outline: none;

    &:hover {
        background-color:  #337c5f;

        @extend %transition;
    }

}
