.btn {
    padding: 12px 35px;
    display: inline-block;

    border: 1px solid $grey_absolute ;
    background: transparent;

    font-size: 28px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    line-height: 1;

    color: $grey_absolute;
    cursor: pointer;

    overflow: hidden;
    vertical-align: middle;

    &:hover {
        color: $yellow_regular;
        background-color: $grey_absolute;

        @extend %transition;
    }
    &--small {
        padding: 12px 0;
        min-width: 220px;
        font-size: 17px;
    }
    &--full {
       color: $yellow_regular;
        background-color: $grey_absolute;

        font-weight: bold;
    }

    &-wrap {
        display: inline-block;

        &--arrow {
            position: relative;

            &:after {
                content: '';

                position: absolute;
                left: 100%;
                bottom: 50%;

                height: 70px;
                width: 85px;
                background: url("../../src/images/arrow-icon.png");
                transform: scaleY(-1) rotate(183deg);
            }
        }
    }
    &-remove {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;

        width: 13px;
        height: 13px;

        background: url("../../src/images/btn-remove.png") transparent;
        cursor: pointer;
        outline: none;
        border: 0;

        @extend %transition;

        &:hover {
            background: url("../../src/images/btn-remove--hover.png") transparent;
        }
    }

    &:disabled,
    &-disabled{

        &:hover {
            background: transparent;
            color: $grey_absolute;
        }
    }
}

@include media-breakpoint('phone') {

    .btn {
        width: 100%;
        font-size: 30px;
        background-color: $yellow_regular;
        color: $grey_absolute;

        &-wrap {
            &--arrow {
                &:after {
                    content: none;
                }
            }
        }
        &--small {
            font-size: 22px;
            background-color: transparent;
            color: $grey_absolute;
        }
        &-disabled {
            color: $grey_medium;
        }
        &--full {
            color: $yellow_regular;
            background-color: $grey_absolute;
        }
    }
}