.form {
    width: 748px;

    &__row {
        margin-bottom: 20px;

        @include clearfix();
    }
    &__label-col {
        display: inline-block;
        vertical-align: top;

        padding-right: 15px;

        width: 34%;

        text-align: right;
    }
    &__content-col {
        position: relative;

        display: inline-block;
        vertical-align: top;

        width: 66%;


        text-align: left;
    }
    &__label {
        font-size: 17px;
        text-transform: uppercase;

    }

    &__input {
        width: 100%;

        font-family: $font-normal;
        font-size: 18px;

        text-align: center;

        color: $grey_absolute;
        background: transparent;
        border-bottom: 1px solid $grey_absolute;

        @extend %transitionSlow;

        &--short {
            width: 47%;
        }

    }
    &__input-file {
        display: none;

        &:disabled {
            ~ label {

                cursor: default;

                &:hover {
                    background: transparent;
                    color: $grey_absolute;
                }
            }
        }
    }
    &__file-wrap {
        display: inline-block;
        vertical-align: middle;

        margin-left: 20px;

        .form__input {
            width: 100%;
        }
    }
    &__file {
        position: relative;

        display: inline-block;

        margin-right: 20px;

        font-family: $font-normal;

        &:last-child {
            margin-right: 0;
        }

        &:before {
            content: '';

            display: block;
            margin: 0 auto 5px auto;

            width: 17px;
            height: 20px;

            background: url("../../src/images/file-add.png");

        }
    }
}

@include media-breakpoint('phone') {
    .form {
        width: 100%;
        padding: 20px;

        &__label-col {
            width: 100%;
            text-align: left;
        }
        &__content-col {
            width: 100%;
        }
        &__label,
        &__input{
            font-size: 19px;
        }
        &__input--short {
            width: 100%;
        }
        &__file {
            display: block;
            padding-top: 10px;
            margin: 0;
        }
        &__file-wrap {

            .form__input {

                padding: 10px 0;
            }
        }
    }
}