.preview {
  margin-top: 90px;

  margin-bottom: 50px;

  text-align: center;
  line-height: 1.4;

  @include clearfix;

  &__title {

    font-family: $font-custom-bold;
    font-size: 40px;

    text-transform: uppercase;

    color: $grey_absolute;
  }

  &__step-wrap {
    position: relative;

    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: center;

    &:nth-child(odd) {
      margin-top: 200px;
    }
  }

  &__step {
    margin: 10px auto;
    padding: 0 10px;
    max-width: 450px;

  }
  &__img {
    margin: 15px 0;
  }

  &__sub-title {
    font-size: 30px;
    font-family: $font-custom-regular;
    color: $grey_absolute;
  }
  &__text {
    font-size: 25px;
    text-align: left;
  }
  &__anim-l {
    position: absolute;
    right: 100%;
    bottom: 0;
    transform: rotate(-63deg);

    &:last-child {
      right: 50%;
      top: 100%;
    }

  }
  &__anim-r{
    position: absolute;
    right: 0;
    top: 50%;
    transform: scaleX(-1) rotate(-63deg);


  }

}