.sub-title {

    font-size: 16px;
    font-family: $font-normal;

    margin-bottom: 30px;

    color: $grey_absolute;
}


@include media-breakpoint('phone') {
    .sub-title {
        font-size: 25px;
    }
}