doctype html
html
    include elements/head
    body
        .header
            img.header__img(src='../../src/images/page-header.png')

            .logo
                img.logo__img(src='../../src/images/logo.svg' width='70')
                span.logo__text Gift Mailer

        .ask-block
            .g-central-block
                h3.ask-block__title Узнай что хотят твои друзья
                    br
                    | в подарок на Новый год

                button.btn Заполни форму

                .ask-block__btn-wrap
                    button.btn-share
        .g-central-block
            .preview
                .preview__title Как это работает?


                .preview__step-wrap

                    .preview__step.preview__step--l.preview__step--first
                        .preview__sub-title Шаг 1
                        img.preview__img(src='../../src/images/preview/preview__step_1.svg', width='230')
                        p.preview__text Введи email адреса друзей, которым ты хочешь подарить подарок
                    .preview__anim
                        //img(src='../../src/images/preview/preview__anim_1.svg', width='150')
                .preview__step-wrap
                    .preview__step.preview__step--r.preview__step--first
                        .preview__sub-title Шаг 2
                        img.preview__img(src='../../src/images/preview/preview__step_2.svg', width='300')
                        p.preview__text Друг получают анонимное письмо о том, что кто-то интересуется новогодним подарком, который он хочет получить
                    .preview__anim
                        //img(src='../../src/images/preview/preview__anim_2.svg', width='150')
                .preview__step-wrap
                    .preview__step.preview__step--l.preview__step--first
                        .preview__sub-title Шаг 3
                        img.preview__img(src='../../src/images/preview/preview__step_3.svg', width='230')
                        p.preview__text Друг заполняет форму, со своими пожеланиями

                    .preview__anim
                        //img(src='../../src/images/preview/preview__anim_1.svg', width='150')

                .preview__step-wrap

                    .preview__step.preview__step--r.preview__step--first
                        .preview__sub-title Шаг 4
                        img.preview__img(src='../../src/images/preview/preview__step_4.svg', width='250')
                        p.preview__text Пожелания твоего друга приходят прямо к тебе на почту!

                    .preview__anim
                        //img(src='../../src/images/preview/preview__anim_4.svg', width='150')
                .preview__step-wrap

                    .preview__step.preview__step--l.preview__step--first
                        .preview__sub-title Шаг 5
                        img.preview__img(src='../../src/images/preview/preview__step_5.svg', width='400')
                        p.preview__text Твой друг получает самый лучший новогодний подарок!




