.text {
    font-size: 15px;
    font-family: $font-normal;

    line-height: $line-height;

    &-wrap {
        text-align: left;

        &--arrow {
            position: relative;

            &:after {
                content: '';

                position: absolute;
                right: 110%;
                bottom: 100%;

                height: 70px;
                width: 85px;

                background: url("../../src/images/arrow-icon.png");
            }
        }
        &--r {
            position: relative;
            left: 87%;
            margin-top: -55px;
        }
    }
    &--grey-m {
        //color: $grey_medium;
    }
    &--light {
        color: #fff;
    }
    &--upper {
        text-transform: uppercase;
    }
    &--large {
        font-size: 18px;
    }
    &--medium {
        font-size: 13px;
    }
    &--small {
        font-size: 11px;
    }
}

@include media-breakpoint('phone') {

    .text {
        font-size: 16px;
        font-size: 5vw;

        &-wrap {
            &--arrow {
                &:after {
                    content: none;
                }
            }
            &--r {
                left: 20px;

                width: 90%;
                margin-top: 40px;
            }
        }
    }
}