$font-size: 14px;
$font-size-small: 11px;

$font-default: OpenSansRegular, sans-serif;
$font-custom-regular: ComfortaaRegular, serif;
$font-custom-bold: ComfortaaBold, serif;

$font-normal: sans-serif;

$line-height: 1.3;
$line-height-l: 1.6;

$box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.3);

$site-width: 1300px;
$site-width-laptop: 1366px;
$site-width-laptop__medium: 1224px;

$site-width_medium: 1024px;
$site-min-width: 920px;

// Color palette

// Grey
$grey_light: #e9e9eb;
$grey_absolute: #000000;


// Yellow
$yellow_regular: #ffe419;

//Red
$red_regular: #ff0000;

%transition {
  transition: all 150ms linear;
}

%transitionSlow {
  transition: all .3s linear;
}
